* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: #f8f8f8;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    width: 50%;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}